* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 25px;
  padding: 25px;
  border: 1px solid;
  border-radius: 10px;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}